body, html {
    background-color: #ededed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    height: 80%;
    align-items: center;
}

.col-6-product-column {
    background-color: #d1d1d1;
}


.row--maskImg {
    width: 65%;
}
