@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700&display=swap");

.bouton {
  box-shadow: rgb(39, 104, 115) 0px 6px 14px -7px;
  background-color: rgb(62, 198, 247);
  display: inline-block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
  padding: 7px 25px;
  text-decoration: none;
}
.bouton:hover {
  color: white;
  text-decoration: none;
  list-style: none;
  background: linear-gradient(rgb(39, 146, 163) 5%, rgb(62, 198, 247) 100%);
}

.bouton a {
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  color: white;
}

@media (max-width: 600px) {
  .bouton {
    box-shadow: 0px 6px 14px -7px #276873;
    background-color: #3ec6f7;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 7px 25px;
    text-decoration: none;
    margin-bottom: 8%;
  }
  .bouton:hover {
    color: white;
    text-decoration: none;
    list-style: none;
    background: linear-gradient(rgb(39, 146, 163) 5%, rgb(62, 198, 247) 100%);
  }
  .bouton a {
    text-decoration: none;
    font-weight: 600;
    color: white;
  }

  .text {
    margin-top: 14%;
  }
}
