.contact-section {
  background: #575757;
  padding: 80px 0;
  text-align: center;
}

.inner-width {
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
}

.contact-section h1 {
  font-size: 20px;
  color: #eaeaea;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
}

.name,
.email,
.message {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  color: #eaeaea;
  padding: 10px 6px;
  font-size: 14px;
  margin-bottom: 40px;
}

.name {
  float: left;
  width: 270px;
}

.email {
  float: right;
  width: 270px;
}

.message {
  min-width: 100%;
  max-width: 100%;
}

.contact-section button {
  background: none;
  color: #7fcde9;
  border: 1px solid #7fcde9;
  padding: 12px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.4s linear;
  cursor: pointer;
}

.contact-section button:hover {
  background: #7fcde9;
  color: #fff;
}

@media screen and (max-width: 780px) {
  .contact-section {
    margin-top: 20%;
  }
}

@media screen and (max-width: 585px) {
  .email {
    float: right;
    width: 251px;
  }
}

@media screen and (max-width: 585px) {
  .name,
  .email {
    width: 100%;
  }

  .contact-section {
    margin-top: 105%;
  }
}
